.App {
  width: 1000px;
  margin: 100px auto;
  font-family: cursive;
}
form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result{
  margin-top: 50px;
}

input{
  width: 150px;
  border-radius: 5px;
  height: 25px;
}
select{
  width: 150px;
  border-radius: 5px;
  height: 25px;
}